.main {
    text-align: center;
}

.spacing {
    margin-top: 15%;
    margin-bottom: 15%;
}

.hero-message {
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.headding {
    color: rgb(255, 255, 255, 80);
    font-weight: lighter;
}

.sub-headding {
    font-size: 18px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: medium;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255, 80);
    font-weight: lighter;
}


.buttons {
    padding-top: 80px;
}

.background {
    background-image: url(img/Web\ 1920\ –\ 1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.test1 {
    background-color: red;
}

.test3 {
    background-color: green;
}