.container {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    height: 300vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.3fr 1.8fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
    grid-template-areas: 
    "logo-nav searchbar-nav searchbar-nav buttons-right-nav"
    "empty-sapce buttons-middle-left-nav buttons-middle-right-nav empty-space"
    "newsletter-banner newsletter-banner newsletter-banner newsletter-banner"
    "hero-image-slideshow hero-image-slideshow hero-image-slideshow hero-image-slideshow"
    "new-arrivals-image new-arrivals-image sofa-image-vertical stool-image-vertical"
    "sofa-image-horizontal sofa-image-horizontal sofa-image-vertical stool-image-vertical"
    "be-inspired-image be-inspired-image be-inspired-image be-inspired-image"
    "be-inspired-image be-inspired-image be-inspired-image be-inspired-image"
    "special-offer-image special-offer-image special-offer-image special-offer-image"
    "special-offer-image special-offer-image special-offer-image special-offer-image"
    "footer footer footer footer"
    ;
    grid-gap:0.4rem;
}

.empty-sapce {
    grid-area: empty-space;
    background-color: khaki;
    width: auto;
    margin: auto;
}

.logo-nav {
    /* background-color: yellowgreen; */
    grid-area: logo-nav;
    margin: auto;
    width: auto;
}

.searchbar-nav {
    /* background-color: yellowgreen; */
    grid-area: searchbar-nav;
    margin: auto;
}

.search-bar {
    
    /* border-radius: 1pc; */
    border: none;
    width: 25rem;
    box-shadow: 1px 5px 10px lightgray;
    height: 1.6rem;
    font-weight: 100;
    color: grey;
    font-size: 12px;
}

.buttons-right-nav {
    /* background-color: seagreen; */
    grid-area: buttons-right-nav;
    margin: auto;
}

.buttons-right-nav ul {
    /* background-color: red; */
    list-style: none;
    float: left;
    padding-left: 1px;
    
}

.buttons-right-nav ul li {
    /* background-color: blue; */
    display: inline;
    font-weight: 100;
    color: lightgrey;
    font-size: 12px;
    margin:20px;
    
}

.buttons-right-nav ul li a {
    /* background-color: yellow; */
    text-decoration-style: none;
}

.buttons-middle-left-nav {
    /* background-color: yellowgreen; */
    grid-area: buttons-middle-left-nav;
    margin: auto;
}

.buttons-middle-left-nav ul {
    /* background-color: red; */
    list-style: none;
    float: left;
    padding-left: 1px;
    
}

.buttons-middle-left-nav ul li {
    /* background-color: blue; */
    display: inline;
    font-weight: 100;
    font-size: 16px;
    margin:10px;
    
}

.buttons-middle-left-nav ul li a {
    /* background-color: yellow; */
    text-decoration: none;
    color: grey;
}

.buttons-middle-right-nav {
    /* background-color: yellowgreen; */
    grid-area: buttons-middle-right-nav;
    margin: auto;
}

.buttons-middle-right-nav ul {
    /* background-color: red; */
    list-style: none;
    float: left;
    padding-left: 1px;
    
}

.buttons-middle-right-nav ul li {
    /* background-color: blue; */
    display: inline;
    font-weight: 100;
    font-size: 16px;
    margin:10px;
    
}

.buttons-middle-right-nav ul li a {
    /* background-color: yellow; */
    text-decoration: none;
    color: grey;
}

.newsletter-banner {
    background-color: skyblue;
    grid-area: newsletter-banner;
}

.hero-image-slideshow {
    background-color: slategray;
    grid-area: hero-image-slideshow;
}

.new-arrivals-image {
    background-color: springgreen;
    grid-area: new-arrivals-image;
}

.sofa-image-horizontal {
    background-color: tomato;
    grid-area: sofa-image-horizontal;
}

.sofa-image-vertical {  
    background-color: turquoise;
    grid-area: sofa-image-vertical;
}

.stool-image-vertical {
    background-color: violet;
    grid-area: stool-image-vertical;
}

.be-inspired-image {
    background-color: yellow;
    grid-area: be-inspired-image;
}

.special-offer-image {
    background-color: yellowgreen;
    grid-area: special-offer-image;
}

footer {
    background-color: brown;
    grid-area: footer;
}

@media only screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr  0.3fr 1.8fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
        grid-template-areas: 
        "logo-nav"
        "searchbar-nav"
        "buttons-right-nav"
        "buttons-middle-nav"
        "newsletter-banner"
        "hero-image-slideshow"
        "new-arrivals-image"
        "sofa-image-horizontal"
        "sofa-image-vertical"
        "stool-image-vertical"
        "be-inspired-image"
        "special-offer-image"
        "footer"
        ;
    }
}

@media only screen and (max-width: 1355px) {
    .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr  0.3fr 1.8fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
    grid-template-areas: 
    "searchbar-nav searchbar-nav searchbar-nav searchbar-nav"
    "logo-nav logo-nav buttons-right-nav buttons-right-nav"
    "empty-sapce buttons-middle-left-nav buttons-middle-left-nav empty-space"
    "empty-sapce buttons-middle-right-nav buttons-middle-right-nav empty-space"
    "newsletter-banner newsletter-banner newsletter-banner newsletter-banner"
    "hero-image-slideshow hero-image-slideshow hero-image-slideshow hero-image-slideshow"
    "new-arrivals-image new-arrivals-image sofa-image-vertical stool-image-vertical"
    "sofa-image-horizontal sofa-image-horizontal sofa-image-vertical stool-image-vertical"
    "be-inspired-image be-inspired-image be-inspired-image be-inspired-image"
    "be-inspired-image be-inspired-image be-inspired-image be-inspired-image"
    "special-offer-image special-offer-image special-offer-image special-offer-image"
    "special-offer-image special-offer-image special-offer-image special-offer-image"
    "footer footer footer footer"
    ; 
    }
    .searchbar-nav {
        /* width: 100%; */
        
    }
}