/** {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration-style: none;
}*/


.container {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    height: 300vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.3fr 1.8fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
    grid-template-areas: 
    "logo-nav  searchbar-nav searchbar-nav buttons-right-nav " 
    "menu-all menu-all menu-all menu-all" 
    "newsletter-banner newsletter-banner newsletter-banner newsletter-banner" "hero-image-slideshow hero-image-slideshow hero-image-slideshow hero-image-slideshow" "new-arrivals-image new-arrivals-image sofa-image-vertical stool-image-vertical" "sofa-image-horizontal sofa-image-horizontal sofa-image-vertical stool-image-vertical" "be-inspired-image be-inspired-image be-inspired-image be-inspired-image" "be-inspired-image be-inspired-image be-inspired-image be-inspired-image" "special-offer-image special-offer-image special-offer-image special-offer-image" "special-offer-image special-offer-image special-offer-image special-offer-image" "footer footer footer footer";
    grid-gap: 0.4rem;
}
/*********
***LOGO***
**********/
.logo-nav {
    grid-area: logo-nav;
}

.logo-nav img {
    width: 190px;
    position: absolute;
    top: 40px;
    left: 12%;
}

/***************
***SEARCH BAR***
****************/

.searchbar-nav {
    /* background-color: yellowgreen;  */
    grid-area: searchbar-nav;
    margin: auto;
}

.search-bar {
    /* border-radius: 1pc; */
    border: none;
    width: 25rem;
    box-shadow: 1px 5px 10px lightgray;
    height: 1.6rem;
    font-weight: 100;
    color: grey;
    font-size: 12px; 
}

/**********************
***RIGHT BUTTONS NAV***
***********************/

.buttons-right-nav {
    grid-area: buttons-right-nav;
    margin:auto;    
}

.buttons-right-nav ul {
    margin-right: 5px;
    margin-top: 30px;
    
}

.buttons-right-nav ul li {
    display: inline;
    padding: 7px; 
}

.buttons-right-nav ul li a {
    text-decoration: none;
    color: grey;
    
}

/*****************
NAV MENU BUTTONS *
*****************/

.menu-all {
    grid-area: menu-all;
    margin: auto;
}

.menu-all ul {

}

.menu-all ul li {
    display: inline;
    padding: 10px;
}

.menu-all ul li a {
    /* background-color: yellow; */
    text-decoration: none;
    color: grey;
}

.newsletter-banner {
    background: rgb(106,183,201);
background: linear-gradient(53deg, rgba(106,183,201,1) 0%, rgba(189,12,227,1) 100%);
    grid-area: newsletter-banner;
    justify-content: center;
    text-align: center;
}

.hero-image-slideshow {
    background-color: slategray;
    grid-area: hero-image-slideshow;
}

.new-arrivals-image {
    background-color: springgreen;
    grid-area: new-arrivals-image;
}

.sofa-image-horizontal {
    background-color: tomato;
    grid-area: sofa-image-horizontal;
}

.sofa-image-vertical {
    background-color: turquoise;
    grid-area: sofa-image-vertical;
}

.stool-image-vertical {
    background-color: violet;
    grid-area: stool-image-vertical;
}

.be-inspired-image {
    background-color: yellow;
    grid-area: be-inspired-image;
}

.special-offer-image {
    background-color: yellowgreen;
    grid-area: special-offer-image;
}

footer {
    background-color: brown;
    grid-area: footer;
}

@media only screen and (max-width: 780px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.3fr 1.8fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
        grid-template-areas: "logo-nav" "searchbar-nav" "buttons-right-nav" "leaving-room-nav" "bedroom-nav" "kitchen-dining-nav" "contact-nav" "newsletter-banner" "hero-image-slideshow" "new-arrivals-image" "sofa-image-horizontal" "sofa-image-vertical" "stool-image-vertical" "be-inspired-image" "special-offer-image" "footer";
    }
    .search-bar {
        width: 20rem;
    }
}

@media only screen and (min-width: 731px) and (max-width: 1070px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.3fr 1.8fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
        grid-template-areas: "logo-nav logo-nav searchbar-nav searchbar-nav buttons-right-nav" "logo-nav logo-nav buttons-right-nav buttons-right-nav" "leaving-room-nav bedroom-nav kitchen-dining-nav contact-nav" "newsletter-banner newsletter-banner newsletter-banner newsletter-banner" "hero-image-slideshow hero-image-slideshow hero-image-slideshow hero-image-slideshow" "new-arrivals-image new-arrivals-image sofa-image-vertical stool-image-vertical" "sofa-image-horizontal sofa-image-horizontal sofa-image-vertical stool-image-vertical" "be-inspired-image be-inspired-image be-inspired-image be-inspired-image" "be-inspired-image be-inspired-image be-inspired-image be-inspired-image" "special-offer-image special-offer-image special-offer-image special-offer-image" "special-offer-image special-offer-image special-offer-image special-offer-image" "footer footer footer footer";
    }
    .search-bar {
        width: 10rem;
    }
}